.task{
    display: inline-block;
    border: 1px solid #a44946;
    border-radius: 5px;
    .counter{
        display: inline-block;
        padding: 8px;
        background-color: #f7e9e9;
        color: #a44946;
    }
    
    button{
        display: inline-block;
        width: 40px;
        height: 35px;
        border: none;
        cursor: pointer;
    }
    button.decrease{
        background-color: #FFF;
        border-right: 1px solid #a44946;
        color: #a44946;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
      
    }
    button.increase{
        background-color: #a44946;
        color: #FFF;
        border-right-color: #a44946;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }
}